<div class="fireworks">
  <div style="margin-top: -10px" class="firework faster">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -100px" class="firework fast">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -40px" class="firework">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -20px" class="firework">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: 0" class="firework fast">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -40px" class="firework">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -140px" class="firework fastest">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -10px" class="firework faster">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -100px" class="firework fast">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -40px" class="firework">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -20px" class="firework">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: 0" class="firework fast">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
  <div style="margin-top: -40px" class="firework">
    <div class="explosion">
      <div class="spark bg-blue-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-orange-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-rose-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-cyan-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-indigo-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-lime-300"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-white"></div>
    </div>
    <div class="explosion">
      <div class="spark bg-emerald-300"></div>
    </div>
  </div>
</div>
