<div>
  <div class="flex justify-center custom-item-center w-full md:w-max relative z-40">
    <div class="container" [ngClass]="isSignIn ? '' : 'right-panel-active'">
      <div class="form-container sign-up-container">
        <form action="" [formGroup]="registerForm">
          <mat-form-field class="w-full my-2 mb-3">
            <mat-label>Tài khoản</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="registerForm.get('username')?.errors?.['required']">Chú heo con chưa nhập tài khoản này</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full my-2">
            <mat-label>Mật khẩu</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">Chú heo con chưa nhập mật khẩu rồi</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full my-2">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">Thiếu email này chú heo con</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">Email sai định dạng rồiiii</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full my-2">
            <mat-label>Tên</mat-label>
            <input matInput formControlName="lastname">
          </mat-form-field>
          <mat-form-field class="w-full my-2">
            <mat-label>Họ</mat-label>
            <input matInput formControlName="firstname">
          </mat-form-field>
          <button class="font-medium mt-2" (click)="register()">Đăng ký</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <form action="" [formGroup]="formLogin">
            <mat-form-field class="w-full my-2 mb-3">
              <mat-label>Tài khoản</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="formLogin.get('username')?.errors?.['required']">Chú heo con chưa nhập tài khoản này</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full my-2">
              <mat-label>Mật khẩu</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="formLogin.get('password')?.errors?.['required']">Thiếu mật khẩu nhé chú heo con</mat-error>
            </mat-form-field>
            <button class="font-medium mt-2" (click)="login()">Đăng nhập</button>
          </form>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn" (click)="changePos()">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp" (click)="changePos()">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
