<div [hidden]="hiddenPopup">
  <div class="flex justify-center custom-item-center w-full md:w-max">
    <div class="container overflow-hidden mx-5 md:flex flex-wrap" [ngClass]="changeImages ? 'right-panel-active' : 'left-panel-active'">
      <div class="form-container px-3 pt-3">
        <div class="pb-4 md:px-6 bg-white flex items-center justify-center flex-col h-full text-center">
          <h2 class="font-medium" [@textChange]="changeImages ? 'start' : 'end'">{{ changeImages ? 'Vẫn là Xàmer' : 'Xàmer'}}</h2>
          <div class="av-container overflow-hidden">
            <ng-container *ngFor="let user of users">
              <span class="av bg-no-repeat bg-contain" [ngStyle]="{ backgroundImage: 'url(' + (changeImages ? user.avatar.special : user.avatar.normal) + ')'}">
              </span>
            </ng-container>
          </div>
          <form action="" [formGroup]="formLogin">
            <mat-form-field class="w-full my-2">
              <mat-label>Bạn là ai nhỉ ?</mat-label>
              <mat-select formControlName="userCode">
                <mat-option *ngFor="let user of users" [value]="user.code">
                  {{user.fullName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formLogin.get('user')?.errors?.['required']">Chú heo con chưa chọn thông tin rồi</mat-error>
            </mat-form-field>
            <button class="font-medium mt-2" (click)="letGo()">Get Go</button>
          </form>
        </div>
      </div>
      <div class="overlay-container overflow-hidden">
        <div class="overlay p-3">
          <div class="overlay-panel overlay-right" [@textChange]="changeImages ? 'start' : 'end'">
            <h3 class="mb-2">{{ changeImages ? 'Ngạc nhiên chưa :)))' : 'Bấm để thấy gì đó thú dzị ^^'}}</h3>
            <button class="ghost font-medium" (click)="changePos()">{{ changeImages ? 'Bảo vệ mắt' : 'Điều bất ngờ'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
